@import '../../var.scss';

.btn {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   border: none;
   padding: 10px 20px;
   border-radius: $radius;
   transition: background $transition, color $transition;
   cursor: pointer;

   svg {
      opacity: .3;
      transition: all .25s ease;
   }

   &.active {
      background: #1976d2; 
      color: #fff;
      &:hover {
         background: #1976d2; 
         color: #fff;
      }

      svg {
         opacity: 1;
      }
   }

   &.reverse {
      svg {
         transform: rotate(180deg);
      }
      // background-color: $color-reverse;
   }
}