.tableHeader {
   display: flex;
   justify-content: center;
   gap: 15px;
   padding-block: 15px;
}

.list-news {
   &__item {
      border-radius: 20px;
      border: 1px solid rgb(226, 226, 226);
      padding: 20px;
      margin-block: 30px;
   }
}

.indicators {
   display: flex;
   gap: 20px;
   padding-block: 20px;
   position: absolute;
   top: 0;
   right: 30px;

}

.card-footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}